<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pahlawannasional">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/Theme.PahlawanNasional"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity
            android:name=".ui.listuser.ListUserActivity"
            android:exported="false" />
        <activity
            android:name=".ui.searchrepo.SearchRepoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.searchuser.SearchUserActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pahlawan.JsonActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pahlawan.DetailActivity"
            android:exported="true"
            android:theme="@style/DetailActionBar" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.PahlawanNasional">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>